snippet ### "create a block of comments"
####################################################
# $1																						
####################################################

endsnippet

snippet date "formats date in %m-%d-%y format"
`date +%m-%d-%Y`
endsnippet
