snippet % "Liquid component" w
{% ${1:${VISUAL}} %}$0
endsnippet

snippet { "Render" w
{{ ${1:${VISUAL}} }}$0
endsnippet

snippet date "Provides the date via vim" w
`!v strftime("%Y-%m-%dT%H:%M:%S")`
endsnippet

snippet fmt "frontmatter" b
---
$1
---
$0
endsnippet
