# Modules

snippet def "public method" b
def $1 do
  ${0:${VISUAL}}
end
endsnippet

snippet defm "module" b
defmodule $1 do
  ${0:${VISUAL}}
end
endsnippet

snippet defp "private method" b
defp $1 do
  ${0:${VISUAL}}
end
endsnippet

# Documentation
