snippet syn "syntax for markdown" i
\`\`\`${1}
${2${VISUAL}}
\`\`\`$0
endsnippet

snippet meta "Metadata" b
---
title: ${1}
date: "`!v strftime("%Y-%m-%dT%H:%M:%S")`"
description: ${2}
---
${0}
endsnippet

snippet link "Links for markdown" i
[${1:#text}](${2:#link})${0}
endsnippet


