extends ruby

snippet redir "redirect_to" b
redirect_to ${1:path}
endsnippet

# Testing

snippet anodif "assert_no_difference" i
assert_no_difference '${1:Model.count}', ${2:1} do
  ${3:${VISUAL}}
end$0
endsnippet

snippet adif "assert_difference" i
assert_difference '${1:Model.count}', ${2:1} do
  ${3:${VISUAL}}
end
endsnippet

snippet vc "ViewComponent" b
class $2Component < ViewComponent::Base
  def initialize$3
    $4
  end
end
endsnippet
