snippet defa "def with args" 
def ${1:<method>}${2:(${3:*args})}
	$0
end
endsnippet

snippet def "def w/o args" 
def ${1:method}
	${0:${VISUAL}}
end
endsnippet

snippet class "Class Def" 
class ${1:<ClassName>}
	$0
end
endsnippet

snippet init "Initialize" 
def initialize${1:(${2:*args})}
	$0
end
endsnippet

snippet req "require '<file>'" 
require '${1:<file>}'
endsnippet

snippet do "do...end"
do ${1:|${2:<element>}|}
	${0:${VISUAL}}
end
endsnippet
